.container-fluid{
    height:auto;
}
form{
    margin-left: 16px;
}

form input{
    width: 300px;
    padding: 12px;
    direction: rtl;
    margin-top: 32px;
    border: none;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.iconsearch{
    width: 54px;
    height: 50px;
    background-color: #3389FF;
    box-sizing: border-box;
    margin-left: -12px;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.iconsearch img{
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%,-50%);
}
table{
    margin-top: 32px;
}
thead{
    background-color:  #3389FF;
    color: #fff;
    font-size: 18px;
    text-align: center;

thead button{
      background-co        lor: #0A46B6;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    width: 200px;
    padding: 8px;
    margin-left: 360px;

thead button:hover{
    color: #000;
    back      ground-color: #F5F5F5;
    border: 1px solid #000;
}
tbody{
    text-align: center;
}

.imgPatients span img{
    width: 50px;
    height: 50px;
    padding: 4px;
    margin-top: -10px;
}
#myBtn{
    display: flex;
    box-sizing: border-box;
    padding-left: 435px;
}
#myBtn form{
  box-sizing: border-box;
  margin-top: -10px;
    padding-left: 32p        x;
}
.sl{
    width: 55px;
    height: 25px;
    position: absolute;
    cursor: pointer;
    background: red;
    transition: .4s;
    border-radius: 34px;
}itwch input{
    display: none;
}
.sl:before
{
    position: absolute;
    con           te   nt: "";
    height: 20px;
    width: 20px;
    left: 5px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50px;
}
input:checked +.sl{
    background-color: #0CFE64;
}
input:checked +.sl:before{
    transform: translateX(28px);
}
/*end button*/
/* start sidemenu */
.sidemenu{
    position: fixed;
    width: 15%;
    background-color: #F5F5F5;
    height: 735px ;
   border-radius: 10px 0px 0px 10px ;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.siedbar ul a{
    display: block;
    margin-bottom: 27px;
    font-size: 18px;
    float: right;
    color: #000;
    font-weight: bold;
}
.siedbar ul a:hover{
    width: 220px;
    text-align: right;
    background-color: #3389FF;
    padding: 12px;
    border-radius: 10px;
    color: #fff;
}
.siedbar ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
     float: right;
    margin-top: 32px;
}
.siedbar ul img{
    width: 23px;
    height: 25px;
    margin-left: 27px;
    margin-right: 16px;
}
.logo{
    border-bottom: 2px solid #000 ;
    margin-top: 32px;
}
.logo img{
    width: 150px;
   margin-left: 50px;
}
.logo h3{
    color: #000;
    font-size: 20px;
    margin-top: -32px;
    margin-bottom: 32px;
    margin-left: 80px;
}
/* end sidemenu */

